doctype html
html(lang='en', ng-app='app')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, width=device-width, shrink-to-fit=no')
    title(ng-bind='title')
    base(href='/')
  body
    block main-content
    include /views/partials/scripts
